h1 {
           text-align:center;
           color:red;
           font-size:40px;
        }

img {
         width: 300px;
         margin:20px auto;
         border-radius:20px;
         display:block;
        }
.contact-btn {
         font-size:20px;
         text-align:center;
         display:block;
         margin:0 auto;
         width:100px;
         color:green;
        }
.btn-primary {
         color:white;
         background-color: blue;
       
        }
.btn {
     font-weight:400;
     border:1px solid transparent;
     padding: 8px;
     border-radius: 6px;
     transition:cubic-bezier(0.075, 0.82, 0.165, 1);
     }

